/*!
 canvas styling
 */

#canvas {
  background-color: lightblue;
  width: 100%;
  height: auto;
}


#word {
  font-size: 2em;
  letter-spacing: 1.2em;
  margin-top: 20%;
}

.play-button input[type=button] {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5em;
  background: #1d4f70;
  padding: 20px 30px 20px 30px;
  text-decoration: none;
  width: 22%;
  font-size: 20px;
  background: #1d4f70;
}

.play-button input[type=button]:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
